@charset "utf-8";
/* CSS Document */

* {
/*    margin:auto;*/
/*    padding:0;*/
	box-sizing: border-box;
	font-style: Serif;
  }
.main {
	position: relative;
/*	border:5px solid #000;*/
	margin:auto;
	width: 1200px;
	display:block;
	top:150px;
	clear:both;
/*	top:200px;*/
}
.box{
	padding:20px;
	font-size: 55px;
	text-align: center;	
	font-weight: bold;
	color:#9E4A18;
	
/*	border:5px solid red;*/
}
.box p{
	color:#DF762E;
	border:5px solid red;
}
.boxitem1 {
	position: relative;
	font-size: 30px;
	text-align: center;	
	font-weight: bold;
/*	border:5px solid #000;*/
	display: flex;
	flex-direction:row;
	justify-content:center;
	font-family:cursive;
	
}
.boxitem1 a{
	margin-right: 50px;
	margin-top: 5px;
	color:#5C5C5C;
}
.boxitem1 a:hover{
	margin-right: 50px;
	text-decoration: underline #fff;
	color:#fff;
}
.boxitem2{ 
	position: relative;
	margin: auto;
	width:1200px;
	height:auto;
}
.boximg{
/*	border:5px solid #000;*/
	margin: 1%;
	width:30%;
	float:left;
}
.boximg img{
	width:100%;
	height:auto;
/*	border:1px solid #000;*/
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.boximg  div.desc{
/*	border:5px solid red;*/
	padding-bottom: 10px ;
	text-align: center;
	color:#000;
	font-family:cursive;
	font-size:25px;
	font-weight: bold;
}
.boximg a:hover{
	-webkit-filter:brightness(0.8);
	color:red;
	text-decoration: underline;
}
.boximg  div.desc:hover{
	color:red;
	
}
