.fullscreen-video {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .fullscreen-video video {
    position: absolute;
  }
  .fullscreen-video.no-ie video {
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .fullscreen-video.ie video {
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
  }
  .fullscreen-video::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
  }
  .fullscreen-video .info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  .fullscreen-video .info h1, .fullscreen-video .info p {
    width: 100%;
    text-align: center;
    color: #FFF;
  }
  
  .fullscreen-video h1 {
    font-size: 8vw;
  }
  .fullscreen-video p {
    font-size: 5vw;
  }
  .fullscreen-video a {
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.2s;
  }
  .fullscreen-video a:hover {
    color: #FFF;
  }
  
  .next-content {
    padding: 5vh;
    text-align: center;
  }
  .next-content p {
    font-size: 3vw;
  }