@charset "utf-8";
/* CSS Document */
*{
    margin:auto;
    padding:0;
	box-sizing: border-box;
	
  }
 body {
    background-image: url("../Image/background.jpg");
    background-repeat: repeat;
    background-position: right top;
    background-size: cover;
    background-attachment: fixed;
/*	flex: 1;*/
}
.container {
 	display: flex; 	/*啟用flex*/
 	flex-direction: column;  	/*設定由上到下排列*/
 	min-height: 100vh; 	/* 至少佔據可視範圍的整個高度*/
}
header{
	position: fixed;
	width:100%;
	z-index: 2;
}
.backcolor{
	background-image: linear-gradient(to bottom, rgba(255,255,204,1),rgba(0,0,0,0));
	font-family:cursive;
	height:100px;
	
}
.toptitle{
	padding:10px;
	text-align: left;
	float:left;
	width: 300px;	
	margin:10px 0px 0px 20px; 
}
 .toptitle #logo{
	font-size: 50px;
	color:#000;
	text-decoration:none;
	font-weight: bold;
}
.menu{
	float:right;
	margin-top: 10px;
	margin-right: 5%;
}
.menu .menu-item {
	width:150px;
	text-align: center;
	margin-right: 5px;
	margin-top: 30px;
	font-size: 30px;
	font-weight: bold;
	position: relative;
  	display: inline-block;
	color:#000;
}
.menu .menu-item:hover {
	color:#AFAFAF;
}
.menu-item .menu-content {
	display: none;
  	position: absolute;
  	background-color: #F2AD4A;
  	min-width: 150px;
  	box-shadow: 3px 8px 5px 0px rgba(0,0,0,0.2);
  	padding: 10px 10px;
	font-size: 20px;
	z-index: 2;
}
.menu-item .menu-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}
.menu-item .menu-content a:hover {
	background-color: #fff;
}

.menu-item:hover .menu-content {
  	display: block;
}

.topimg {
	position: relative;
    display:block;
	margin: auto;
	top:100px;
}	
.topimg div img{	
	width:100%;
	height:auto;
}
/*
.topimg div{
	position: absolute;
	color:#000;
	font-family: Times, Times New Roman, serif;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}
*/
/*
.topimg div.T1{	
	left:25%;
	top:250px;
	width:auto;
	font-size: 100px;
}
.topimg div.T2{
	left:45%;
	top:370px;
	width:auto;
	font-size: 100px;
}
.topimg div.T3{
    left: 48%;
    top: 490px;
    width: auto;
    font-size: 100px;
}
*/
body div.event{
	position: relative;
	width:1200px;
	margin: auto;
	display: block;
/*	border:5px solid #000;*/
	top:100px;
}

body .event-item1 img{
	float:left;
	width:25%;
	margin-right: 25%;
	height:250px;
	
}
body .event-item2 img{
	float:right;
	width:25%;
	margin-left: 25%;
	height:250px;
}
body .event-item3 img{
	float:left;
	width:25%;
	margin-right: 25%;
	height:250px;
}

footer{
	padding: 1%;
  	text-align: center;
  	background: #ddd;
  	margin-top: 10%;
	font-size:1em;
}